<html>
<style type="text/css">
  body{
    color: #999;
    background-color: #eee;
        height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
  .container{
        height: fit-content;
    background: white;
    width: fit-content;
    border-radius: 30px;
        margin: auto;
    margin-top: 10%;
}
  }
  div{
    margin: auto;
    width: fit-content;
    margin-top: 10%;
    padding: 10%;
  }
  span{

  }
 table, th, td {
  border: 1px solid black;
}
</style>
   <body>
      
          {% if name %}
 <div class=container> <div style ="padding: 34px;">{{name | safe}}  </div></div>
  {% endif %}
   </body>
</html>